{{- if .Values.ingress.enabled -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else -}}
apiVersion: networking.k8s.io/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ template "axiom.fullname" . }}-ingress
  labels:
    {{- include "axiom.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  {{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "axiom.fullname" $ }}-api
                port:
                  number: 80
            path: /api
            pathType: Prefix
          - backend:
              service:
                name: {{ include "axiom.fullname" $ }}-app
                port:
                  number: 80
            path: /
            pathType: Prefix
    {{- end }}
  {{- else -}}
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /api
            backend:
              serviceName: {{ include "axiom.fullname" $ }}-api
              servicePort: 80
          - path: /*
            backend:
              serviceName: {{ include "axiom.fullname" $ }}-app
              servicePort: 80
    {{- end }}
  {{- end }}
{{- end }}
